# fly.toml app configuration file generated for moat-drawbridge on 2026-02-16T22:22:58+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'moat-drawbridge'
primary_region = 'ams'

[build]

[env]
  LOG_FORMAT = 'json'
  RELAY_ADDR = ':8080'
  RELAY_TLS = 'false'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 1

  [[http_service.checks]]
    interval = '15s'
    timeout = '5s'
    grace_period = '10s'
    path = '/health'

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
